POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=orders_db
VITE_API_URL=http://localhost:8000
FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_ORIGIN_REGEX=http://(localhost|127\.0\.0\.1|172\.(1[6-9]|2[0-9]|3[0-1])\.\d+\.\d+):5173